body {
    background-color:#efefef;
    font-family: helvetica,bold;
    margin:0;
}




.logo {
    float: left;
    margin-right: 10px;
    width:;
    height:;
    padding: 100px 100px 0 0;
    background-image: url(images/logo.png);
    background-size: 100px 76px;
    background-repeat: no-repeat;
 
}
.logo-footer {
    float: center;
    padding: 0px 0px 0 0;
    background-image: url(images/logo.png);
    background-size: 180px 120px;
    background-repeat: no-repeat;
    margin:0 0 0 0;
    position:center;
    }

.nav-link {
    
    display:inline-block;
    margin:10px;
    text-align:right;
    padding:10px;
    color:white;
    text-decoration: none;
    }
    
.nav-link:hover {
    color:black;
    display:inline-block;
  }

.main-nav {
    background-color:51657f;
    font-size:15px;
    max-width:100%;
    text-align: right;
    margin: 0px;
   
}

.hero {
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
    width:100%;
    height:650;
    min-width: 960;
    }

.hero-card {
    border: 2.5px solid #fff;
    color: #efefef;
    padding:20px;
    width: 600px;
    margin: 150px auto 100px auto;
    
    
} 

.instruction {
    padding:0 50 0 0;
}
.instruction-two {
    padding:0 0 0 0;
}
.hero-card-title {
    font-family: Helvetica, bold;
    margin: 0;
    font-size:40px;
    font:#efefef;
    text-align:center;
}
.instruction-1 {
    padding:0 50 0 0;
}
.description {
    color:#efefef;
    font-size:17px;
    text-align:center;
    padding:20px;
    width: 600px;
    margin: -80px auto 100px auto;
    
}

.section {
    width: 100%;
}

.fifty {
    width:50%;
    float: left;
    
}
.fifty-right {
    width:50%;
    float: right;
}
.fifty-one {
    width:100%;
    float:right;
    text-align:center;
    }
    
.color {
    background-color:white;
}    

.how-to-cast {
    background-color:#dcdcdc;
    width:100%;
    height:170px;
    display:inline-block;
    vertical-align: top;
    text-align:center;
    font-size:15;
}

.title {
    color:#3082bf;
    padding:0 0 0 0;
    }
    .title-first {
    color:#3082bf;
    padding:45 0 0 0;
    }
    .title-title {
    color:#3082bf;
    padding:10 0 0 0;
    }
    .title-1 {
    color:#3082bf;
    padding:90 0 0 0;
    }
       .title-2 {
    color:#3082bf;
    padding:40 0 0 0;
    }
.how-to-tie {
    background-color:#c0c0c0;
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:15;
    /*float:right;*/
    /*text-align:right;*/
}
.how-to-tie-last {
    background-color:#c0c0c0;
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:14;
    /*float:right;*/
    /*text-align:right;*/
}
.how-to-tie-two {
    background-color:#dcdcdc;
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:15;
    /*float:right;*/
    /*text-align:right;*/
   
}

.video {
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:15;
    padding:0 0 0 0;
    margin:0 auto;
    
}

.youtube {
    padding:80 100 100 90;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.footer {
    background-color:#555555;
    width:100%;
    height:100px;
    display:inline-block;
    vertical-align: top;
    text-align:center;
    font-size:15;
   }

.text {
    padding: 0 0 0 0;
    margin:-13 0 0 0 ;
}

.hero-type {
    background-image: url('images/artboard2.png');
}

.hero-bait {
    background-image: url('images/artboard3.png');
}

.hero-tips {
    background-image: url('images/artboard4.png');
}

.hero-home {
    background-image: url('images/artboard1.png');
}

.width {
    min-width: 960px;
}