font-family: 'Exo 2', sans-serif;
font-family: 'Asap', sans-serif;

body {
    background-color:#efefef;
    margin:0px;
    width:100%;
     }




.logo {
    float: left;
    margin-right: 10px;
    width:;
    height:;
    padding: 50px 100px 0 0;
    background-image: url(images/logo.png);
    background-size: 100px 76px;
    background-repeat: no-repeat;
}



.logo-footer {
    padding:20px 0px 0 0;
    background-image: url(images/logo.png);
    background-size: 180px 120px;
    background-repeat: no-repeat;
    margin:0 auto;
    text-align: center;
    background-position: center;
    }

.nav-link {
    
    display:inline-block;
    margin:10px;
    text-align:right;
    padding:10px;
    color:white;
    text-decoration: none;
    font-family: 'Exo 2';
    font-variant:small-caps;
    font-size:18px;
    }
    
.nav-link:hover {
    color:black;
    display:inline-block;
  }

.main-nav {
    background-color:51657f;
    font-size:15px;
    max-width:100%;
    text-align: right;
    position:fixed;
    width:100%;
    top:0;
    font-family:'Asap';
    z-index:1000;    
   }

.hero {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:600px;
    min-width:960px;
    padding-top:100px;
     
    }

.hero-card {
    border: 2.5px solid #fff;
    color: #efefef;
    padding:30px;
    width: 600px;
    margin: 200px auto 100px auto;
    } 

.instruction {
    padding:0 50 0 30;
    font-family:'Asap';
    font-weight:0;
    font-style:light;
    letter-spacing:.1px;
}
.instruction-two {
    padding:0 0 0 0;
}
.hero-card-title {
    font-family:'Exo 2';
    font-weight: normal;
    margin: 0px;
    font-size:40px;
    font:#efefef;
    text-align:center;
}
.instruction-1 {
    padding:0 50 0 0;
}
.instruction-3 {
    padding:0 10 10 90;
       font-family:'Asap';
    font-weight:0;
    font-style:light;
    letter-spacing:.1px;
   
}
.instruction-2 {
    padding:0 60 0 120;
    font-family:'Asap';
    font-weight:0;
    font-style:light;
    letter-spacing: .1px
    
}
.instruction-33 {
    padding:0 80 10 70;
    font-family:'Asap';
    font-weight:0;
    font-style:light;
    letter-spacing:.1px;
    line-height:33px;
    font-size: 13.5px
    }
    .instruction-34 {
    padding:0 80 10 100;
    font-family:'Asap';
    font-weight:0;
    font-style:light;
    letter-spacing:.1px;
    line-height:33px;
    font-size: 13.5px
    }
.description-1 {
    color:#efefef;
    font-size:17px;
    text-align:center;
    padding:20px;
    width: 600px;
    margin: -80px auto 100px auto;
    font-family: 'Asap';
    font-weight: normal;
    line-height: 30px;
    
}

.section {
    width: 100%;
}

.fifty {
    width:50%;
    float: left;
    
}
.fifty-right {
    width:50%;
    float: right;
}
.fifty-one {
    width:100%;
    float:right;
    text-align:center;
    }
    
.color {
    background-color:white;
}    

.how-to-cast {
    background-color:#dcdcdc;
    width:100%;
    height:170px;
    display:inline-block;
    vertical-align: top;
    text-align:center;
    font-size:15;
}

.title {
    color:#3082bf;
    padding:0 0 0 0;
    }
    .title-first {
    color:#3082bf;
    padding:45 0 0 0;
    }
    .title-title {
    color:#3082bf;
    padding:10 0 0 0;
    }
    .title-1 {
    color:#3082bf;
    padding:90 0 0 40;
    }
       .title-11 {
    color:#3082bf;
    padding:74 0 0 99;
    font-family:'Asap';
    font-weight:100;
    font-style:light;
    }
         .title-12 {
    color:#3082bf;
    padding:74 0 0 120;
    font-family:'Asap';
    font-weight:200;
    font-variant: small-caps;
    }
       .title-2 {
    color:#3082bf;
    padding:40 0 0 0;
    }
    .title-4 {
    color:#3082bf;
    padding:73 0 0 70;
       font-family:'Asap';
    font-weight:100;
    font-style:medium;
    }
       .title-5 {
    color:#3082bf;
    padding:73 0 0 30;
     font-family:'Asap';
    font-weight:200;
    font-variant: small-caps;
    }
.how-to-tie {
    background-color:#c0c0c0;
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:15;
    
    /*float:right;*/
    /*text-align:right;*/
}
.how-to-tie-last {
    background-color:#c0c0c0;
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:14;
    /*float:right;*/
    /*text-align:right;*/
}
.how-to-tie-two {
    background-color:#dcdcdc;
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:15;
    float:right;
    /*float:right;*/
    /*text-align:right;*/
   
}

    /*float:right;*/
    /*text-align:right;*/
   
}
.video {
    height:500px;
    display:inline-block;
    vertical-align: top;
    font-size:15;
    padding:0 0 0 0;
    margin:0 auto;
    
}

.youtube {
    padding:100 7 9 40;
}
.youtube-2 {
    padding:100 7 9 0;
}
.youtube-3 {
    padding:100 115 0;
}
.youtube-1 {
    padding:100 7 9 100;
}


.footer {
    background-color:#555555;
    width:100%;
    height:100px;
    display:inline-block;
    vertical-align: top;
    text-align:center;
    font-size:15;
   }

.text {
    padding: 0 0 0 0;
    margin:-13 0 0 0 ;
}

.hero-type {
    background-image: url('images/artboard2.png');
}

.hero-bait {
    background-image: url('images/artboard3.png');
}

.hero-tips {
    background-image: url('images/artboard4.png');
    
   
    
}

.hero-home {
    background-image: url('images/artboard1.png');
    
}

.width {
    min-width: 960px;
}

.instruction, .instruction-2, .instruction-3 {
    line-height: 33px;
}


.title-2, .title-title, .title-first .title-11 {
    font-family:'Exo 2'; 
    font-weight: 200;
    font-style: italic;
}
    
    
.title-4, .title-11, .title  {
    font-family:'Asap';
    font-weight:200;
    font-variant: small-caps;
}
.menu th {
    padding: 80 90 10 100; 
}
.menu .size {
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-family: 'Asap'; 
    text-align: center;
    float:center;
}
.menu td {
    padding: 15px ;
    vertical-align: center;
    text-align: center;
    font-family:'Asap'; 
    
}
.menu dd {
    margin-left: 0;
    color: #666;
    font-style: bold;
    font-size: 14px;
   vertical-align: center;
}
.menu .label {
    text-align: center;
}

.bold {
    font-style: bold;
}


